@model List<Route>


@if (Model.Count() == 0)
{
<div class="container mt-3">
    <h1 class="display-3">BU TARİHTE SEFER BULUNAMADI!</h1>
</div>
}
else
{
    @foreach (var item in Model)
    {   <form asp-controller="Home" asp-action="Passenger" method="post">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-2 border border-dark ">
                        <p class="fs-2 text-center">NEREDEN</p>
                        <hr />
                        <p class="text-center fs-1">@item.FromWhere</p>
                        <input type="hidden" name="Nereden" value="@item.FromWhere" />
                    </div>
                    <div class="col-2 border border-dark">
                        <p class="fs-2 text-center">NEREYE</p>
                        <hr />
                        <p class="text-center fs-1">@item.ToWhere</p>
                        <input type="hidden" name="Nereye" value="@item.ToWhere" />
                    </div>
                    <div class="col-3 border border-dark">
                        <p class="fs-2 text-center ">TARİH</p>
                        <hr />
                        <p class="text-center fs-1">@item.Date</p>
                        <input type="hidden" name="Tarih" value="@item.Date" />
                    </div>
                    <div class="col-2 border border-dark">
                        <p class="fs-2 text-center "> SEFER SAATİ</p>
                        <hr />
                        <p class="text-center fs-1">@item.Clock</p>
                        <input type="hidden" name="Saat" value="@item.Clock" />
                    </div>

                    <div class="col-2 border border-dark">
                        <p class="fs-2 text-center ">FİYAT</p>
                        <hr />
                        <p class="text-center fs-1">@item.Price TL</p>
                        <input type="hidden" name="Fiyat" value="@item.Price" />
                        <input type="hidden" name="YolId" value="@item.RouteId" />


                    </div>
                    <div class="col-1 border border-0 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-sm btn-success">Rezerve Et!</button>

                    </div>
                </div>
            </div>
        </form>

    }
}


