@model OrderModel
<h6 class="display-4">CheckOut</h6>
<hr />
<div class="row">
    <div class="col-md-8">
        <h6>Order Details</h6>
        <form asp-controller="Card" asp-action="CheckOut" method="post">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>First Name:</label>
                    <input asp-for="@Model.FirstName" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label>Last Name:</label>
                    <input asp-for="@Model.LastName" class="form-control" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label>Address:</label>
                    <textarea asp-for="@Model.Address" class="form-control"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>City:</label>
                    <input asp-for="@Model.City" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Phone:</label>
                    <input asp-for="@Model.Phone" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label>Email:</label>
                    <input asp-for="@Model.Email" class="form-control" />
                </div>
            </div>
            @*Buraya card bilgileri gelecek!*@
        </form>
    </div>

    <div class="col-md-4">
        <h6>Order Summary</h6>
        <span>Summary Info</span>
        <ul class="list-group mb-3">
            @foreach (var item in Model.CardModel.CardItems)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>@item.Name</h6>
                    </div>
                    <span class="text-muted">@item.Quantity</span>
                    <span class="text-muted">@item.Price</span>
                    <span class="text-muted">@((item.Quantity*item.Price).ToString("c"))</span>
                </li>
            }
        <li class="list-group-item d-flex justify-content-between">
            <span>Total (TL)</span>
            <strong>@Model.CardModel.TotalPrice().ToString("c")</strong>
        </li>
                

        </ul>
    </div>
</div>